<p style="color: green"><%= notice %></p>

<%= render @phone_contact %>

<div>
  <%= link_to "Edit this phone contact", edit_phone_contact_path(@phone_contact) %> |
  <%= link_to "Back to phone contacts", phone_contacts_path %>

  <%= button_to "Destroy this phone contact", @phone_contact, method: :delete %>
</div>
